<section class="container">
    <div class="card mb-5">
        <div class="card-header text-white bg-secondary">
            contact to Admin
        </div>
        <div class="card-body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text text-dark font-weight-bold">Send Message</span>
                </div>
                <input type="text" class="form-control" placeholder="Message">
                <div class="input-group-prepend">
                    <button class="btn btn-success">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>