<footer class="foot">
    <div class="bg-dark d-flex justify-content-center align-content-center align-items-center p-3">
        <h6 class="text-white m-0">Designed With <span class="text-danger">❤</span> By Nitesh Khatri</h6>
    </div>
</footer>