<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <h4 class="text-warning">Flipkart</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar" >
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item">
                <a class="nav-link font-weight-bolder text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bolder text-white" href="/sales">Sales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bolder text-white" href="/bill">Bill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bolder text-white" href="/delivery">delivery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bolder text-white" href="/return">Return</a>
            </li>
        </ul>
    </div>


</nav>

<div class="container header d-flex justify-content-center mt-3">
    <h2>Welcome to {{page}} <span class="text-danger font-weight-bold">{{Managed}}</span></h2>
</div>