
<div class="global-container">
    <div class="card login-form">
        <div class="card-header text-center">Register</div>
        <div class="card-body">
            <div class="card-text">
                <form class="form">
                    <div class="form-group">
                        <label for="fullName">Your anonymous username</label>
                        <input type="text" class="form-control form-control-sm" id="fullName" />
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input type="password" class="form-control form-control-sm" id="registerPassword" />
                    </div>
                    <button type="submit" id="btn" class="btn btn-primary btn-block">
                        Register
                    </button>

                    <div class="sign-up">
                        Already have an account? <a href="#">Log In </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>